body{
    background-color: rgb(70, 142, 236);
    font: normal 17pt Arial;    
}

header{
    text-align: center;
}

section{
    background-color:rgb(244, 245, 241);
    border-radius: 30px;
    padding: 20px;
    width: 600px;
    margin: auto;
    
}

img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

footer{
    text-align: center;
    font-style: italic;
    
}